.carousel { 
    position: relative;
    width: 100%;  height: 45%;
    overflow: hidden;  
    box-shadow: 0 0 0.4vw 0.1vw gainsboro;  
    border-radius: 0.25vw; 
}  

.carousel-image {  
    position: absolute;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
    opacity: 0;  
    transition: opacity 0.2s ease;  
}
  
.carousel-image.active {  
    opacity: 1;  
}