@import url('./fonts/fonts.css');
*{margin: 0; padding: 0;}
@media (min-width: 450px) {
    header{
        width: 100%; height: 8vw;
        position: sticky; top: 0; z-index: 20;
        background-color: white;
        cursor: default;
    }
    header .center{
        width: 90%; height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    header .center img{
        height: 45%;
    }
    header .center .text{
        font-size: 2.8vw; font-family: 'Archivo-BL';
        margin-left: 1vw; margin-top: 0.5vw;
        color: gray;
    }

    .main{
        width: 100%; height: 40vw;
    }
    .main .center{
        width: 88%; height: 95%;
        margin: 0 auto;
        cursor: default;
        padding: 1vw; margin-top: 0.5vw;
        box-shadow: 0 0 0.4vw 0.1vw gainsboro;  
        border-radius: 0.25vw;
        overflow-y: auto; line-height: 2vw;
    }
    .main .center .title{
        font-family: 'Archivo-B';
        font-size: 1.8vw; line-height: 2.6vw;
    }
    .main .center .isolate{
        border-top:0.1vw solid gainsboro ;
        margin-top: 1vw; margin-bottom: 1vw;
    }
    .main .center .content{
        font-family: 'Archivo-M';
        font-size: 1.0vw;
    }
    footer{
        width: 100%; height: 3vw;
        background-color: white;
        margin-top: 2vw; margin-bottom: 1vw; cursor: default;
    }
    footer .center{
        width: 90%; height: 100%;
        margin: 0 auto;
        box-shadow: 0 0 0.4vw 0.1vw gainsboro;  
        border-radius: 0.25vw;
        background-color: white;
        color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Archivo-M';
        font-size: 1vw;
    }
}
@media (max-width: 450px) {
    header{
        width: 100%; height: 20vw;
        position: sticky; top: 0; z-index: 20;
        background-color: white;
        cursor: default;
    }
    header .center{
        width: 90%; height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header .center img{
        height: 35%;
    }
    header .center .text{
        font-size: 4vw; font-family: 'Archivo-BL';
        margin-left: 2vw; margin-top: 0.5vw;
        color: gray;
    }

    .main{
        width: 100%; height: 180vw;
        display: flex; justify-content: center; align-items: center;
    }
    .main .center{
        width: 88%; height: 95%; cursor: default; padding: 1vw;
        box-shadow: 0 0 0.4vw 0.1vw gainsboro;  
        border-radius: 0.25vw;
        overflow-y: auto;
    }
    .main .center .title{
        font-family: 'Archivo-B';
        font-size: 4.4vw; margin-top: 4vw;
    }
    .main .center .isolate{
        border-top:0.1vw solid gainsboro ;
        margin-top: 4vw; margin-bottom: 3vw;
    }
    .main .center .content{
        font-family: 'Archivo-M';
        font-size: 4.0vw; line-height: 6vw;
    }

    footer{
        width: 100%; height: 10vw;
        background-color: white;
        margin-top: 2vw; margin-bottom: 1vw;
    }
    footer .center{
        width: 90%; height: 100%;
        margin: 0 auto;
        box-shadow: 0 0 0.4vw 0.1vw gainsboro;  
        border-radius: 0.25vw;
        background-color: white; color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Archivo-M';
        font-size: 3vw;
        cursor: default;
    }
}
